.navbar {
    padding: 1% 25%;
}

.heading {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    /* font-weight: 900; */
}


#load-div {
    padding: 1% 10%;
    text-align: center;
    text-justify: center;
}

#plot-div {
    padding: 1% 10%;
    text-align: center;
    text-justify: center;
}

#csv-loader {
    padding: 1% 10%;
    text-align: center;
    text-justify: center;
}